<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCS Journal</title>
    <meta name="version" content="{{version}}">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="assets/manifest.json">
    {{#if base}}
        <base href="{{base}}">
    {{/if}}
    {{> analytics}}
</head>
<body>
<h1>ASCS Journal</h1>
Welcome to our Journaling App! This app was created as part of the ASCS Capstone Engineering Project to help people express themselves, stay organized, and track their personal growth.
<div class="flex justify-center items-center">
    <img src="assets/qr-code.png" alt="Share">
</div>
<div class="text-center mt-4">
    <span class="text-sm text-gray-600 dark:text-gray-400">Version: {{version}}</span>
</div>
{{> navbar}}
</body>
</html>
