<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry Viewer</title>
    {{#if base}}
        <base href="{{base}}">
    {{/if}}
    {{> analytics}}
</head>
<body x-data="entryViewer">
<h1>Entry Viewer</h1>
<div class="flex justify-between mt-4">
    <button @click="prevEntry()" class="primary">Previous</button>
    <button @click="nextEntry()" class="primary">Next</button>
</div>

<div>
    <div x-show="entry">
        <div x-text="entry.category"></div>
        <div x-text="new Date(entry.entryDate).toLocaleString()"></div>
        <div x-text="entry.toppings"></div>
        <div x-text="entry.sauce"></div>
        <div x-text="entry.description"></div>
    </div>
    <div x-show="!entry">
        <p>Entry not found</p>
    </div>
</div>
{{> navbar}}
</body>
</html>
