<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Project</title>
    <% if (htmlWebpackPlugin.options.base) { %>
    <base href="<%= htmlWebpackPlugin.options.base %>">
    <% } %>
    <style>
        body {background-color: burlywood;}
        textarea {background-color: hotpink;}
    </style>

</head>
<body>

<h1>Capstone Project</h1>

<form>
  <p><label for="journalentry">Journal Entry:</label></p>
  <textarea id="journalentry" name="journalentry" rows="8" cols="100">
   dearest kitty, today i feel sad. my mummy forgot to pack me lunch.
   now i am hungry
</textarea>

</form>
<button id="myBtn" class="primary">Try it</button>

<p id="demo">

    <script>
        const element = document.getElementById("myBtn");
        element.addEventListener("click", myFunction);

        function myFunction() {
          document.getElementById("demo").innerHTML = "Hello World";
        }
                </script>


<nav class="fixed-bottom-bar">
    <div class="button-container">
        <button type="button" class="button-group" onclick="window.location.href='/'">
            <svg class="button-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
            </svg>
            <span class="button-text">Home</span>
        </button>
        <button type="button" class="button-group" onclick="window.location.href='/about.html'">
            <svg class="button-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M11.074 4 8.442.408A.95.95 0 0 0 7.014.254L2.926 4h8.148ZM9 13v-1a4 4 0 0 1 4-4h6V6a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h17a1 1 0 0 0 1-1v-2h-6a4 4 0 0 1-4-4Z"/>
                <path d="M19 10h-6a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1Zm-4.5 3.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM12.62 4h2.78L12.539.41a1.086 1.086 0 1 0-1.7 1.352L12.62 4Z"/>
            </svg>
            <span class="button-text">About</span>
        </button>
    </div>
</nav>


</body>
</html>
