<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Share</title>
    <meta name="version" content="{{version}}">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="assets/manifest.json">
    {{#if base}}
        <base href="{{base}}">
    {{/if}}
    {{> analytics}}
</head>
<body>
<h1>Help Line</h1>
<p>Suicide Hotlines:</p>
<p>--------------------------</p>
<p>--------------------------</p>
    <p>(USA)</p>
    <p><a href="tel:+988">988</a></p>
<p>--------------------------</p>
    <p>(Canada)</p>
    <p><a href="tel:+1-833-456-4566">+1-833-456-4566</a></p>
<p>--------------------------</p>
    <p>(UK)</p>
    <p><a href="tel:116 123">+116 123</a></p>
<p>--------------------------</p>
    <p>(Australia)</p>
    <p><a href="tel:+13 11 14">+13 11 14</a></p>
<p>--------------------------</p>
    <p>(India)</p>
    <p><a href="tel:+1860 266 2345">+1860 266 2345</a></p>
<p>--------------------------</p>
    <p>(France)</p>
    <p><a href="tel:+3114">+3114</a></p>
<p>--------------------------</p>
    <p>(Germany)</p>
    <p><a href="tel:+0800 111 0111">+0800 111 0111</a></p>
<p>--------------------------</p>
    <p>(Japan)</p>
    <p><a href="tel:+03-5774-0992">+03-5774-0992</a></p>
<p>--------------------------</p>
<p>--------------------------</p>
<p>24/7 Crisis Text Line – Text HELLO to:</p>
<a href="sms:+741741">741741</a>
<p>--------------------------</p>
<p>--------------------------</p>
<p>Substance Abuse & Mental Health Hotline:</p>
 <p><a href="tel:+1-800-662-4357">+1-800-662-4357</a></p>
<p>--------------------------</p>
<p>   -   </p>
<p>   -   </p>
<p>   -   </p>
<p>   -   </p>

{{> navbar}}
</body>
</html>
